<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="~/bower_components/polymer/polymer-element.html">
    <link rel="import" href="~/bower_components/polymer/lib/elements/dom-repeat.html" />
    <link rel="import" href="~/bower_components/iron-image/iron-image.html" />
    <link rel="import" href="~/bower_components/iron-ajax/iron-ajax.html" />

    <link rel="import" href="~/WebComponents/board-game-item.html" />
    <link rel="import" href="~/WebComponents/board-game-list-item.html" />
    <link rel="import" href="~/WebComponents/board-game-list.html" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Board Game Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Joshua Strunk</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
